<!DOCTYPE html>
<html>
    <head>
        <title>osu! Stream Background</title>
    </head>
    <body>
        <h1>osu! Stream Background</h1>
        <hr>
        <p><a href="/output">Output</a> | <a href="/queue">Request Queue</a> | <a href="/config">Config</a></p>
        <p><a href="/panic">PANIC</a> | <a href="/exit">Exit App</a></p>
        <p><a href="https://guthub.com/SquashyTomato/osu-stream-background">Github</a></p>
    </body>
</html>