        <div class="nav">
            <p>osu! Stream Background</p>
            <a<%- page == 'index' ? ' class="active"' : '' %> href="/">Home</a>
            <a href="/output" target="_blank">Output</a>
            <a<%- page == 'queue' ? ' class="active"' : '' %> href="/queue">Queue</a>
            <a href="https://github.com/SquashyTomato/osu-stream-background/wiki" target="_blank">Docs</a>
            <a<%- page == 'config' ? ' class="active"' : '' %> href="/config">Config</a>
            <a href="https://guthub.com/SquashyTomato/osu-stream-background">Github</a>
        </div>
        <div class="container">